<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
 
    <!-- Home -->
  <section id="home">
    <h1 class="home__title">Survey with Tech Army</h1>
    <h2 class="home__description">20 million questions answered daily.</h2>
    <button class="survey__create"><a href="#">Create Survey</a></button>
  </section>

  

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




