<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
 
    <!-- Home -->
  <section id="home">
    <h1 class="home__title">Survey with Tech Army</h1>
    <h2 class="home__description">20 million questions answered daily.</h2>
    <button class="survey__create"><a href="#">Create Survey</a></button>
  </section>

  <!-- list -->
  <section id="list" class="section">
    <div class="list__container">
      <h1>lists</h1>
      <h2>lists & Attribute</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto sed repellendus 
        itaque minima sapiente beatae laborum a illum laudantium deleniti? 
        Quae voluptas voluptate cum recusandae vero ex adipisci voluptatum vel!
      </p>
      <div class="listset">
        <div class="listset__left">
          <h3 class="listset__title">lists</h3>
          <div class="list">
            <div class="list__description">
              <span>list</span>
              <span>99%</span>
            </div>
            <div class="list__bar">
              <div class="list__value" style="width: 90%;"></div>
            </div>
          </div>
          <div class="list">
            <div class="list__description">
              <span>list</span>
              <span>99%</span>
            </div>
            <div class="list__bar">
              <div class="list__value" style="width: 80%;"></div>
            </div>
          </div>
          <div class="list">
            <div class="list__description">
              <span>list</span>
              <span>99%</span>
            </div>
            <div class="list__bar">
              <div class="list__value" style="width: 85%;"></div>
            </div>
          </div>
          <div class="list">
            <div class="list__description">
              <span>list</span>
              <span>99%</span>
            </div>
            <div class="list__bar">
              <div class="list__value" style="width: 60%;"></div>
            </div>
          </div>
          <div class="list">
            <div class="list__description">
              <span>list</span>
              <span>99%</span>
            </div>
            <div class="list__bar">
              <div class="list__value" style="width: 95%;"></div>
            </div>
          </div>
        </div>
        <div class="listset__right">
          <div class="tools">
            <h3 class="sillset__title">list</h3>
            <ul class="tools_list">
              <li><span>list</span></li>
              <li><span>list</span></li>
              <li><span>list</span></li>
              <li><span>list</span></li>
              <li><span>list</span></li>
            </ul>
          </div>
          <div class="etc">
            <h3 class="sillset__title">list</h3>
            <ul class="etc__list">
              <li><span>list</span></li>
              <li><span>list</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  </section>

  <!-- customer -->
  <section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
          <h2>Review</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="Assets/images/reviewImg/man1.png" class="img-responsive" alt=""></figure>
              <h3>Name</h3>
              <p>Description</p>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="Assets/images/reviewImg/man2.png" class="img-responsive" alt=""></figure>
              <h3>Name</h3>
              <p>Description</p>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="Assets/images/reviewImg/man3.png" class="img-responsive" alt=""></figure>
              <h3>Name</h3>
              <p>Description</p>
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="Assets/images/reviewImg/man4.png" class="img-responsive" alt=""></figure>
              <h3>Name</h3>
              <p>Description</p>
            </div>
        </li>
      </ul>
    </div>
  </section>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




