<div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
          <div class="front">
            <img src="/Assets/images/login.jpeg" alt="">
          </div>
        </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Login</div>
                <form action="#">
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Enter your password" required>
                        </div>
                        <div class="text"><a href="#">Forgot password?</a></div>
                        <div class="button input-box">
                            <input type="submit" value="Submit">
                        </div>
                        <div class="text sign-up-text"><p>Don't have an account? <a href="">Register Here</a></p></div>
                    </div>
                  
                </form>
                
            </div>
