<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/Assets/images/register.jpeg" alt="">
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="signup-form">
                <div class="title">Sign Up</div>
                <form action="/signup" method="post">
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" name="uname[]" placeholder="Enter your name" required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" name="email[]" placeholder="Enter your email" required>
                          </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="password[]" placeholder="Enter your password" required>
                        </div>
                       
                        <div class="button input-box">
                            <input type="submit" value="Create">
                        </div>
                        <div class="text sign-up-text"><p>Do you have an account? <a href="/signin">Login Here</a></p></div>
                    </div>
                  
                </form>
                
            </div>
