<!-- Work on Edit-->
<div class="container">
    <br>
    <h2 class="home__description text-center font-weight-bold">Edit a survey</h2>
</div>

<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="titleTextField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Enter the Survey Title"
                    name="title" 
                    value="<%= survey.title %>"
                    required>
                </div>

                <div class="form-group">
                    <form action="">
                        <label for="Ques_And_List">Question Type:</label>
                        <select id="Ques_And_List" name="Ques_And_List">
                          <option value="trueFalse">True/ False</option>
                          <option value="multiChoice">Multiple Choice </option>

                        </select>
                        <input type="submit">
                      </form>

                </div>

                <div class="form-group">
                    <label for="questionTextField">Question</label>
                    <input type="text" class="form-control"
                    id="questionTextField"
                    placeholder="Enter question"
                    name="question" 
                    value="<%= survey.question %>"
                    required>
                </div>


                <div class="form-group">
                    <label for="responseTextField">Answer</label>
                    <input type="text" class="form-control"
                    id="responseTextField"
                    placeholder="Enter the Answer"
                    name="response" 
                    value="<%= survey.response %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit </button>
                
                    <!-- <a href="/book-list" class="btn btn-warning"> -->
                        <a href="/survey.list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>
