        <!-- MAIN CONTENT -->
        <div class="container">
            <div class="row">
              <div class="col-md-offset-1 col-md-10">
                <h3>Survey List</h3>
                <br>
                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Number of Questions</th>
                        <th class="text-center">Created Date</th>
                        <th class="text-center">Updated Date</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <!-- Template Row -->
      
                    </tbody>
                  </table>
                </div>
