/* lists */
#list{
    background-color: var(--color-yellow);
}
.list__container{
    padding: 50px 50px;
}
.listset{
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}
.listset__left{
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}
.list__description{
    display: flex;
    justify-content: space-between;
}
.list{
    margin-bottom: 32px ;
}
.list__bar{
    width: 100%;
    height: 3px;
    margin-top: 3px;
    background-color: var(--color-grey);

}
.list__value{
    height: 3px;
    background-color: var(--color-orange);
}
.listset__right{
    flex-basis: 40%;
}
.tools{
    background-color: var(--color-grey);
}
.tools, .etc{
    padding: 20px;
}